@font-face {
  font-family: "DIN Alternate Bold";
  src: url("../fonts/din.alternate.bold.otf") format("otf")
}

@font-face {
  font-family: "DIN Bold";
  src: url("../fonts/din.bold.ttf") format("truetype")
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham.book.ttf") format("truetype")
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("../fonts/adobe.garamond.pro.regular.ttf") format("truetype")
}