@import "variables";
// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "fonts";
@import "components";
@import "header";
@import "navigation";
@import "sidebar";
@import "content";
@import "footer";

body {
  width: 100%;
  height: 100%;
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background: url(../img/intro_bkg.png) no-repeat center left scroll;

}

html {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "DIN Alternate Bold";

  &.garamond{
    font-family: "Adobe Garamond Pro";
  }
}

h2{
  font-family: "DIN Bold";
  text-transform: uppercase;
}

p{
  font-family: "Gotham Book";
}

.navbar-custom {
  margin-bottom: 0;
  background-color: #fff;
  padding: 10px 0;
  padding-top: 0;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

  img {
    width: 70%;
  }

  .icon-bar{
    background: #000;
  }

  .nav {
    li, li.active {
      background-color: transparent;
      a {
        color: #000;
        font-family: "DIN Bold";
        font-weight: bold;
        &:hover, &:active, &:focus {
          color: #1769ff;
          text-decoration: line-through;
          background-color: transparent;
        }
      }
    }
  }
}



#intro {

  &.intro-section {
    height: 100%;
    padding-top: 5%;
    text-align: center;
  }

  .entrance {
    margin-top: 30%;

    h1{
      font-size: 46px;
    }

    a {
      font-family: "DIN Bold";
      color: #000;
      font-weight: bold;
    }
    img {
      margin-left: 10px;
      width: 30%;
    }

    .pull-right {
      margin-top: 40px;
    }
  }
}

#about {

  &.about-section {
    margin-top: 16%;

    h1 {
      text-align: left;
      width: 100%;
      height: 110px;
      font-size: 56px;

      &.title-section {
        height: 50px;
      }
    }

    h2 {
      font-size: 18px;
      text-align: left;
    }

    .row {
      margin-top: 70px;
      text-align: justify;

      .image {
        width: 250px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        img {
          width: 80%;
          position: absolute;
          bottom: 0;
        }
      }

    }
  }
}

#contact {

  &.contact-section {
    height: 100%;
    margin-top: 35%;
    background: url("../img/footer.png") no-repeat center top scroll;

    .row {
      margin-top: 90px;
    }

    h1 {
      font-size: 46px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

@media (min-width: 768px) {

  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .navbar-header {
    float: left;
  }

  .navbar-custom{
    background-color: transparent;
  }

  .top-nav-collapse {
    background-color: #fff02a;
    border: none;
    padding: 10px 0;
  }
}

